<html>
<meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <title>instaClone</title>
    <link href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" href='{& static "css/font-awesome.css" %}' />-->
    <link href = '{% static "css/main.css" %}' rel="stylesheet"/>
</head>
<body class="container-fluid col-lg-12">

    <nav class="navbar navbar-expand-lg navbar-light col-lg-8" style="margin: 0 auto; background-color:white; border-radius:5px">
      <a class="navbar-brand" href="../feed/">{{ user.username }}</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="navigation" method="POST" action="/search/">

              {% csrf_token %}

             <input type="text" id="searchuser" placeholder="Search" value="{{ search }}" name="search" style="padding:2px;"/>
             <a id="searchbtn" href="javascript:void(0)"><i class="fa fa-search" style="margin: 1% 1% 0 -2%; color: grey;font-size: 140%;"></i></a>

              <a class="upload" href="../logout/"><i class="fa fa-user-o" style="font-size:83%; margin-top:10%;"></i>
             </a><a class="upload" href="../post/"><i class="fa fa-plus-square-o"></i></a>
          </form>

      </div>
    </nav>


   <div id="feed" class="container-fluid col-lg-6" style="margin-top:5%;">




       {% for post in posts %}
      <div id="postbox" class="col-lg-11">

         <div id="postusername">
            <h4>{{ post.user.username }} </h4>
         </div>

          {% if post.ifdirty %}

                <span class="badge badge-danger floatright">Dirty Spot</span>

          {% endif %}

         <div id="caption">
            <h5>{{ post.caption }}</h5>
         </div>

         <div id="postimage">
            <img src="{{ post.image_url }}">
         </div>

          <form method="post" action="/like/">
              {% csrf_token %}
             <div id="commentbox">
                 <input type="hidden" name="post" value="{{ post.id }}">
                 <!--<a id="likebtn" href="javascript:void(0)"><i class="fa fa-heart-o fa-2x"></i></a>-->
                 {% if post.has_liked %}

                    <a id="likebtn" href="javascript:void(0)"><i class="fa fa-heart fa-2x" style="color:black;"></i></a>

                {% else %}

                    <a id="likebtn" href="javascript:void(0)"><i class="fa fa-heart-o fa-2x" style="color:grey;"></i></a>

                {% endif %}
                <h5>{{ post.like_count }}</h5>

                 {% if post.comment.count > 0 %}
                    <a id="cmntbtn"><i class="fa fa-comment fa-2x" style="color:grey;"></i></a>
                    <h5>{{ post.comment_count }}</h5>

                 {% else %}
                    <a id="cmntbtn"><i class="fa fa-comment-o fa-2x"></i></a>
                    <h5>{{ post.comment_count }}</h5>

                 {% endif %}

             </div>
          </form>



          <form method="POST" action="/comment/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" >
              <div id="usercomment">
                     <input type="text" placeholder="Type your comment..." value="{{ comment_text }}" name="comment_text"/><a id="postbtn" href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a>
              </div>
          </form>



          <div>

              {% for comment in post.comments %}

                <form method="POST" action="/upvote/">
                    {% csrf_token %}
                    <input type="hidden" name="comment" value="{{ comment.id }}">
                    <a id="upvotebtn" href="javascript:void(0)"><i class="fa fa-chevron-up" style="float:left;"></i></a>
                    <h6>{{ post.comment.vote_count }}</h6>
                </form>

                <div id="comments">
                    <h5 id="user">{{ comment.user.username }}</h5>
                    <h5 id="comment">{{ comment.comment_text }}</h5>
                    <h6>{{ comment.created_on }}</h6>
                </div>

              {% endfor %}

          </div>



      </div>

         {% endfor %}


   </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>

        $(document).ready(function(){
           $(document).on("click","#likebtn",function(){
             var form = $(this).closest("form");
             form.submit();
           });

           $(document).on("click","#postbtn",function(){
             var form = $(this).closest("form");
             form.submit();
           });

           $(document).on("click","#searchbtn",function(){
             var form = $(this).closest("form");
             form.submit();
           });

           $(document).on("click","#upvotebtn",function(){
             var form = $(this).closest("form");
             form.submit();
           });
        });

    </script>

</body>
</html>
