<html>
<head>
    {% load static %}
    <title>instaClone</title>
    <link href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' rel="stylesheet"/>
    <link href = '{% static "css/main.css" %}' rel="stylesheet"/>
</head>
<body class="container-fluid col-lg-12">
   <div id="main" class="container-fluid col-lg-6">

       <img src="{% static 'img/mac.jpeg' %}" id="mainimage" />

      <form id="signupForm" method="post" class="pull-right">
         <div id="logo">
            <img id="logoImg" src='{% static "img/logo.png" %}'  /><h2>CLONE</h2>
         </div>
           {% csrf_token %}

           <div>
              <input class="forminput" id="email" type="text" name="email" value="" placeholder="Email"/>
           </div>

           <div>
              <input class="forminput" id="name" type="text" name="name" value="" placeholder="Full name"/>
           </div>

          <div>
              <input class="forminput" id="username" type="text" name="username" value="" placeholder="Username" />
          </div>

          <div>
              <input class="forminput" id="password" type="password" name="password" value="" placeholder="Password" />
          </div>

      <button type="submit" class="btn btn-success btn-sm">Sign up </button>
      <button type="submit" class="btn btn-primary btn-sm" formaction="../login/">Log in </button>

      <div class="break" id="leftBreak">
      </div>
      <button id="btnfb" type="submit" class="btn btn-primary btn-sm" >Log in with Facebook</button>

          <h6>By signing up, you agree to our <strong>Terms & Privacy </strong>Policy.</h6>

      <div class="break" id="leftBreak">
      </div>


  </form>

   </div>

</body>
</html>