<html>
<head>
     {% load static %}
    <title>instaClone</title>
    <link href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' rel="stylesheet"/>
    <link href = '{% static "css/main.css" %}' rel="stylesheet"/>
</head>
<body class="container-fluid col-lg-12">
   <div id="main" class="container-fluid col-lg-6">

      <form id="loginForm" method="post" >

           {% csrf_token %}
          <div id="logo">
             <img id="logoImg" src='{% static "img/logo.png" %}'  /><h2>CLONE</h2>
          </div>

          <div>
              <input class="forminput" id="username" type="text" name="username" value="" placeholder="Username" />
          </div>

          <div>
              <input class="forminput" id="password" type="password" name="password" value="" placeholder="Password" />
          </div>

      <button type="submit" class="btn btn-success btn-sm" formaction="/">Sign up </button>
      <button type="submit" class="btn btn-primary btn-sm" >Log in </button>


  </form>

   </div>

</body>
</html>
